[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/box2d"]
	path = External/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
